<div class="modal fade show" id="bookDetailModal" tabindex="-1" role="dialog" aria-labelledby="bookDetailModal">
    <div class="modal-lg modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">{{sach.tenSach}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeModal()">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <label for="anhBia">Ảnh bìa sách</label>
                                <div class="bg-light img-input-thumbnail">
                                    <img class="img-thumbnail input-figure" ng-src="{{sach.anhBia != null ? sach.anhBia : ''}}">
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3 d-flex justify-content-between lh-condensed">
                                <span class="my-0">Tên sách</span>
                                <span>{{sach.tenSach}}</span>
                            </div>
                            <div class="mb-3 d-flex justify-content-between lh-condensed">
                                <span class="my-0">Thể loại</span>
                                <span>{{getTenTheLoais()}}</span>
                            </div>
                            <div class="mb-3 d-flex justify-content-between lh-condensed">
                                <span class="my-0">Tác giả</span>
                                <span>{{getTenTacGias()}}</span>
                            </div>
                            <div class="mb-3 d-flex justify-content-between lh-condensed">
                                <span class="my-0">Ngày xuất bản</span>
                                <span>{{sach.ngayXuatBan | date: 'dd/MM/yyyy'}}</span>
                            </div>
                            <div class="mb-3 d-flex justify-content-between lh-condensed">
                                <span class="my-0">Số trang</span>
                                <span>{{sach.soTrang}}</span>
                            </div>
                            <div class="mb-3 d-flex justify-content-between lh-condensed">
                                <span class="my-0">Giá</span>
                                <span>{{sach.donGiaBan | currency : 'đ' : 0}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="closeModal()">Đóng</button>
                <button class="btn btn-primary" ng-click="addToCart(sach.slug)">Thêm vào
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="feather feather-shopping-cart" style="width: 18px;height: 18px;">
                        <circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>